<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Running Low</title>
  </head>
  <body>
    <h1>Stock Running Low</h1>
    <p>Dear Team,</p>
    <p>The stock for the product {{productName}} is running low.</p>
    <p>Current Stock Level: {{currentStockLevel}}</p>
    <p>Please restock this item as soon as possible to avoid running out of
      stock.</p>
    <p>Best regards,</p>
    <p>The Inventory Management System</p>
  </body>
</html>