doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Gift Card Created

  body
    h1 Gift Card Created
    p Dear #{customerName},
    p A gift card has been created for you!
    p Gift Card Code: #{giftCardCode}
    p Amount: #{amount}
    p You can use this code at checkout to redeem your gift card.
    p Best regards,
    p The Ayla Shop Team
