doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Order Shipped

  body
    h1 Order Shipped
    p Dear #{customerName},
    p Your order has been shipped!
    p Order Number: #{orderNumber}
    p You can track your shipment using the following tracking number: #{trackingNumber}
    p Best regards,
    p The Ayla Shop Team
